<!DOCTYPE html>
<html>
<head>
	<style>
		body { background: <%= color %> }
	</style>
</head>
<body>
	<% if !game_over %>
		<form>
			<input type = 'text' name = 'guess' />
			<input type = 'submit' value = 'Guess!' />
		</form>
		<p><%= message %></p>
		<% if cheat %>
			<p>
				The SECRET NUMBER is <%= number %>
			</p>
		<% end %>
	<% else %>
		<p>You lost!</p>
		<p>Hit REFRESH for a new game</p>
	<% end %>
</body>
</html>